extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  #createPoll
    form#poll(action="/polls" method="POST")
      label(for="title") Title:
      input(
        type="text"
        id="title"
        name="title"
        value=data.title
      )

      label(for="anon") Anonymous?:
      input(
        type="checkbox"
        id="anon"
        name="anon"
        value="true"
      )
      input(type="submit" value="Submit")
    //- disappear submit button unless at least one question has been added
    p 
      button(onClick=`addQdesc()`) Add a question that requires a written answer
    p 
      button(onClick=`addQrate()`) Add a question that requires a rated answer