doctype html
html
  head
    title= `${title}`
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //- link(rel='stylesheet', href='css/bootstrap/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='css/styles.css')
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
    script.
      function display(divId) {
        $('.my-errors').remove()
        $('.form').hide();
        $(divId).show();
      }

      function deleteUser(uid){
        console.log(uid)
        $.ajax({
          url: `/users/${uid}`,
          type: 'DELETE',
          success: function(result) {
              alert('deleted')
          },
          error: function() {
              alert('cannot delete')
          }
        });
      }

      function deletePoll(pid){
        console.log(pid)
        $.ajax({
          url: `/polls/${pid}`,
          type: 'DELETE',
          success: function(result) {
              alert('deleted')
          }
        });
      }

      function addQdesc(){
        let nr = document.querySelectorAll('input[type="number"]').length +  1;
        let id = `question${nr}`;
        let group = document.createElement('div');
        group.setAttribute('id',id);
        let inputElem = document.createElement('input');
        inputElem.setAttribute('name', 'questions_desc[' + nr + '][lineup]');
        inputElem.setAttribute('value', nr);
        inputElem.setAttribute('type', 'number');
        inputElem.setAttribute('readonly', 'readonly');
        group.appendChild(inputElem);

        inputElem = document.createElement('input');
        inputElem.setAttribute('name', 'questions_desc[' + nr + '][question]');
        inputElem.setAttribute('type', 'text');
        group.appendChild(inputElem);

        let deleteButton = document.createElement('button');
        deleteButton.setAttribute('type', 'button');
        deleteButton.onclick = function(){
         this.parentNode.remove();
         let i=1;
         $('input[type=number]').each(function(){
              $(this).val(i);
              i++;
          });
        };
        deleteButton.innerHTML = `Delete question`;
        group.appendChild(deleteButton);

        document.getElementById("poll").appendChild(group);
      }

      function addQrate(){
        let nr = document.querySelectorAll('input[type="number"]').length + 1;
        let id = `question${nr}`;
        let group = document.createElement('div');
        group.setAttribute('id',id);
        let inputElem = document.createElement('input');
        inputElem.setAttribute('name', 'questions_rate[' + nr + '][lineup]');
        inputElem.setAttribute('value', nr);
        inputElem.setAttribute('type', 'number');
        inputElem.setAttribute('readonly', 'readonly');
        group.appendChild(inputElem);

        inputElem = document.createElement('input');
        inputElem.setAttribute('name', 'questions_rate[' + nr + '][question]');
        inputElem.setAttribute('type', 'text');
        group.appendChild(inputElem);

        let deleteButton = document.createElement('button');
        deleteButton.setAttribute('type', 'button');
        deleteButton.onclick = function(){
         this.parentNode.remove();
         let i=1;
         $('input[type=number]').each(function(){
              $(this).val(i);
              i++;
          });
        };
        deleteButton.innerHTML = `Delete question`;
        group.appendChild(deleteButton);

        document.getElementById("poll").appendChild(group);
      }

  body
    div.container.listing-reg
      h1 Poll App

      block content