extends layout

block content

  if result
    p=result.title

    p Created by 
      =result.creator
    p at 
      =result.created_at

    each answer,i in result.answers
        div.answer-div
          if answer.user
            p=answer.user 
          each a in answer.cards_a
            p=result.questions[i].question
            p=a.answer