extends layout

block content

  button Create Poll

  if polls.length
    table.listing-table.table-dark.table-striped
      tr
        th Title
        th Creator
        th Anon 
        th Answers 
        th Delete 
      each poll in polls
        tr
          td= poll.title
          td= poll.creator.name
          td= poll.anon
          td 
            button(onClick=`location.href='/polls/${poll._id}'`) Go to poll
          td 
            button(onClick=`deletePoll('${poll._id}')`) Delete poll