extends layout

block content

  if users.length
    table.listing-table.table-dark.table-striped
      tr
        th Name
        th Email
        th Admin
        th Polls
        th Delete
      each user in users
        tr
          td= user.name
          td= user.email
          td= user.admin
          td 
            button(onClick=`location.href='/users/${user._id}'`) Go to user
          td 
            button(onClick=`deleteUser('${user._id}')`) Delete user
  else
    p No users found