extends layout

block content

  if result
    p=result.name
    p=result.email

  if result.answers
    each answer in result.answers
      div.answer-div
        each a,i in answer.cards_a
          p=answer.cards_q[i].question
          p=a.answer