extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg


  #vote 
    form(action=`/vote/${token}` method="POST")
      p=poll.title
      if(poll.anon)
        p This poll is anonymous 
      else  
        p Admins can read your answers 

      if poll.questions_desc.length
        each q in poll.questions_desc
            label=q.question
            input(
                type="number"
                name=`answers_desc[${q.lineup}][lineup]`
                value=`${q.lineup}`
                readonly
            )
            input(
                type="text"
                name=`answers_desc[${q.lineup}][answer]`
            )
      else 
        input(
            type='hidden'
            name='answers_desc[]'
        )

      if poll.questions_rate.length
        each q in poll.questions_rate
            label=q.question
            input(
                type="number"
                name=`answers_rate[${q.lineup}][lineup]`
                value=`${q.lineup}`
                readonly
            )
            input(
                type="text"
                name=`answers_rate[${q.lineup}][answer]`
            )
      else 
        
        input(
            type='hidden'
            name='answers_rate[]'
        )

      input(type="submit" value="Submit")
