extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  #login.form
    form(action="/login" method="POST")
      label(for="email") Email:
      input(
        type="email"
        id="email"
        name="email"
        value=data.email
      )

      label(for="password") Password:
      input(
        type="password"
        id="password"
        name="password"
        value=data.password
      )
      input(type="submit" value="Submit")
    
    p Don't have an account?
      button(onClick="display('#register')") Register here
  
  #register.form(style='display: none')
    form(action="/register" method="POST")
      label(for="name") Name:
      input(
        type="text"
        id="name"
        name="name"
        value=data.name
      )

      label(for="email") Email:
      input(
        type="email"
        id="email"
        name="email"
        value=data.email
      )

      label(for="password") Password:
      input(
        type="password"
        id="password"
        name="password"
        value=data.password
      )
          
      label(for="password_confirmation") Password Confirmation:
      input(
        type="password"
        id="password_confirmation"
        name="password_confirmation"
        value=data.password_confirmation
      )
      input(type="submit" value="Submit")

    p Already have an account?
      button(onClick="display('#login')") Login here